<a href="https://colab.research.google.com/github/yihana/RHadoop/blob/master/basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 준비

In [0]:
#1. 프로그래밍 준비

자산 = 300000
부채 = 200000
자본 = 100000
자산 == 부채 + 자본

True

In [0]:
#2. 회계등식
#자산 300,000, 부채 200,000 , 자본 100,000인 회사의 회계등식을 만들고 확인하기
자산 = 300000
부채 = 200000
자본 = 100000
자산 == 부채 + 자본

자산 = 320000
부채 = 200000
자본 = 100000
자산 == 부채 + 자본

False

In [0]:
#python3.6 부터는 숫자입력 세자리수 구분 : _
print(1_000_000)

1000000

In [0]:
#3. 확장된 회계등식
'''
자산 500, 비용 200, 부채 400, 자본 100, 수익 200경우 아래와 같이 
확장된 회계등식을 만들고 참 또는 거짓을 구하라
자산 + 비용 = 부채 + 자본 + 수익
'''
자산 = 500
비용 = 200
차변 = 자산 + 비용
부채 = 400
자본 = 100
수익 = 200
대변 = 부채 + 자본 + 수익
차변 == 대변

True

In [0]:
#.회계상 거래 판별
사건1 = '판매'
사건2 = '신문보기'
사건3 = '일당지급'
판단기준 = '재무제표에 표시될 수 있는가?'
사건_판단 = list()

In [0]:
print(사건1)
print(판단기준)
사건_판단.append((사건1,True))

판매
재무제표에 표시될 수 있는가?

In [0]:
print(사건2)
print(판단기준)
사건_판단.append((사건2,False))

신문보기
재무제표에 표시될 수 있는가?

In [0]:
print(사건3)
print(판단기준)
사건_판단.append((사건3,True))

일당지급
재무제표에 표시될 수 있는가?

In [0]:
print(사건_판단)

[('판매', True), ('신문보기', False), ('일당지급', True)]

In [0]:
회계기록_사건 = [line[0] for line in 사건_판단 if line[1] == True]
print(회계기록_사건)

['판매', '일당지급']

In [0]:
#논리흐름
# : 경제적 사건 -> 재무제표에 표시(사건판단) -> 회계기록
#자료형
# (1)리스트 list
a = ['가','나','다']
print(a)

['가', '나', '다']

In [0]:
a = list()

In [0]:
a.append(1)
print(a)

[1]

In [0]:
a.append(2)
a.append(3)
a.append(4)
a.append(5)
print(a)

[1, 2, 3, 4, 5]

In [0]:
# (2)튜플 tuple
sales = (50,2)
price = (50,)

In [0]:
(50,) == 50

False

In [0]:
b = (1,2,'a')
b[2]

'a'

In [0]:
b[2] = 'c' #튜플은 데이터값이 초기에 결정된 후 바꿀수 없음

TypeError: ignored

In [0]:
#(3) 제어문 for
for element in [1,2,3] : 
  print(element)

1
2
3

In [0]:
#조건부나열
[element + 10 for element in [1,2,3]]

[11, 12, 13]

In [0]:
[element+10 for element in [1,2,3] if element <=2]

[11, 12]

In [0]:
my_list = [(True,10),(False,20),(True,30)]
[element[1]+100 for element in my_list if element[0] == True]

[110, 130]

In [0]:
#5. 거래분석
#사례. A씨는 2020년 1월 1일에 15,000원을 투자하여 컴퓨터프로그램 회사를 만들었다.
#이 거래는 자산의 증가 및 자본의 증가를 초래한다.
#따라서 다음과 같은 확장된 회계등식상의 결과를 나타낸다.
# 자산 + 비용 = 부채 + 자본 + 수익
# 현금                 자본금
# 15,000               15,000

자산 = 15000
비용 = 0
현금 = 자산
부채 = 0
자본 = 15000
수익 = 0
자본금 = 자본
현금 == 자본금

True

# 분개 프로그램

In [0]:
#6. 분개
#A회사는 용역을 제공하는 것을 주 업무로 하는 회사이다. 
#다음은 2020년 1월중에 발생한 거래이다.

#2020년 1월 1일 : 자본금 \100,000,000을 주주로부터 현금으로 출자받다.
#2020년 1월 2일 : 사무실을 빌리고 1개월 임차료 \1,000,000을 현금으로 지급하다.
#2020년 1월 3일 : 중고 자동차 1대를 구입하고 \1,500,000을 현금으로 지급하다.
#2020년 1월 4일 : 경리부 직원에 대한 급여 \700,000 을 현금으로 지급하다.
#2020년 1월 5일 : 기계장치 \5,000,000을 B회사로부터 외상으로 구입하다.
#2020년 1월 6일 : 용역을 제공하고 그 대가로 \4,000,000 수취하기로 하였다.
#2020년 1월 7일 : A은행으로부터 현금 \40,000,000을 만기 2년으로 차입하다.

In [0]:
분개_1월1일 = [["1월1일"], 
                ["차변",["현금",100_000_000]],
                ["대변",["자본금",100_000_000]]]
분개_1월2일 = [["1월2일"], 
                ["차변",["임차료",1_000_000]],
                ["대변",["현금",1_000_000]]]     
분개_1월3일 = [["1월3일"], 
                ["차변",["차량운반구",1_500_000]],
                ["대변",["현금",1_500_000]]] 
분개_1월4일 = [["1월4일"], 
                ["차변",["급여",700_000]],
                ["대변",["현금",700_000]]]
분개_1월5일 = [["1월5일"], 
                ["차변",["기계",5_000_000]],
                ["대변",["미지급금",5_000_000]]]
분개_1월6일 = [["1월6일"], 
                ["차변",["매출채권",4_000_000]],
                ["대변",["매출",4_000_000]]]
분개_1월7일 = [["1월7일"], 
                ["차변",["현금",40_000_000]],
                ["대변",["장기차입금",40_000_000]]]

In [0]:
전체분개 = [분개_1월1일, 분개_1월2일, 분개_1월3일, 분개_1월4일,
            분개_1월5일, 분개_1월6일, 분개_1월7일]

In [0]:
분개_차변 = [분개세부내역[1][1] for 일자별분개 in 전체분개
                for 분개세부내역 in 일자별분개 if 분개세부내역[0] == "차변"]
분개_대변 = [분개세부내역[1][1] for 일자별분개 in 전체분개
                for 분개세부내역 in 일자별분개 if 분개세부내역[0] == "대변"]
print(분개_차변)
print(분개_대변)

[100000000, 1000000, 1500000, 700000, 5000000, 4000000, 40000000]
[100000000, 1000000, 1500000, 700000, 5000000, 4000000, 40000000]

In [0]:
print("분개차변합계: ", sum(분개_차변), "분개대변합계: ", sum(분개_대변))

분개차변합계:  152200000 분개대변합계:  152200000

In [0]:
#분개세부내역 확인
전체분개 = [분개_1월1일, 분개_1월2일]
for 일자별분개 in 전체분개:
  for 분개세부내역 in 일자별분개:
    print(분개세부내역)

['1월1일']
['차변', ['현금', 100000000]]
['대변', ['자본금', 100000000]]
['1월2일']
['차변', ['임차료', 1000000]]
['대변', ['현금', 1000000]]

In [0]:
def 계정전기(입력계정):
  if 입력계정 in [세세부내역[0] for 일자별분개 in 전체분개
              for 분개세부내역 in 일자별분개
              for 세세부내역 in 분개세부내역]:
                print([[일자별분개[0],분개세부내역[0],세세부내역[1]] for 일자별분개 in 전체분개
                       for 분개세부내역 in 일자별분개
                       for 세세부내역 in 분개세부내역 if 세세부내역[0] == 입력계정])
  else:
    print("계정과목없음")              

def 계정전기합계(입력계정):
  if 입력계정 in [세세부내역[0] for 일자별분개 in 전체분개
              for 분개세부내역 in 일자별분개
              for 세세부내역 in 분개세부내역]:
                차변계정금액 = [세세부내역[1] for 일자별분개 in 전체분개
                          for 분개세부내역 in 일자별분개 if 분개세부내역[0] == "차변"
                          for 세세부내역 in 분개세부내역 if 세세부내역[0] == 입력계정]
                대변계정금액 = [세세부내역[1] for 일자별분개 in 전체분개
                          for 분개세부내역 in 일자별분개 if 분개세부내역[0] == "대변"
                          for 세세부내역 in 분개세부내역 if 세세부내역[0] == 입력계정]
                if sum(차변계정금액) > sum(대변계정금액):
                  print("차변잔액: ",abs(sum(차변계정금액) - sum(대변계정금액)))
                else:
                  print("대변잔액: ",abs(sum(차변계정금액) - sum(대변계정금액)))
  else:
    print("계정과목없음")

In [0]:
 계정전기("현금")
 print("************************************")
 계정전기합계("현금")

[[['1월1일'], '차변', 100000000], [['1월2일'], '대변', 1000000], [['1월3일'], '대변', 1500000], [['1월4일'], '대변', 700000], [['1월7일'], '차변', 40000000]]
************************************
차변잔액:  136800000

#7.현금및 현금성자산 분류

In [0]:
#7. 현금및 현금성자산
통화 = ['통화', 425000, True]
우표 = ['우표', 10000, False]
타인발행당좌수표 = ['타인발행당좌수표', 100000, True]
기일이경과한이자표 = ['기일이경과한이자표', 40000, True]
배당금통지지급표 = ['배당금통지지급표', 20000, True]
선일자수표 = ['선일자수표', 120000, False]
우편환증서 = ['우편환증서', 3000, True]
직원에대한가불증 = ['직원에대한가불증', 500000, False]
양도성예금증서_취득당시만기4개월 = ['양도성예금증서_취득당시만기4개월', 4000000, False]
총항목 = [통화, 우표, 타인발행당좌수표, 기일이경과한이자표, 배당금통지지급표, 
       선일자수표, 우편환증서, 직원에대한가불증, 양도성예금증서_취득당시만기4개월]

In [0]:
현금항목 = list([각항목[0] for 각항목 in 총항목 if 각항목[2] == True])
현금항목금액 = list([각항목[1] for 각항목 in 총항목 if 각항목[2] == True])

In [0]:
print(현금항목)
print(현금항목금액)

['통화', '타인발행당좌수표', '기일이경과한이자표', '배당금통지지급표', '우편환증서']
[425000, 100000, 40000, 20000, 3000]

In [0]:
def 현금및현금성자산(입력항목):
  if 입력항목 in 현금항목:
    금액 = 현금항목금액[현금항목.index(입력항목)]
    print("%s : 현금및현금성자산이며 금액은 %d원입니다." % (입력항목, 금액))
  else : 
    print("%s : 현금및현금성자산이 아닙니다." % (입력항목))

In [0]:
현금및현금성자산합계 = sum(현금항목금액)
print(현금및현금성자산합계)
현금및현금성자산('통화')

588000
통화 : 현금및현금성자산이며 금액은 425000원입니다.

#8.매출원가 공식

In [0]:
#매출원가 공식
#기초재고액(₩30) + 당기매입액(₩70) = 매출원가(₩60) + 기말재고액(₩40)

기초재고 = 30
당기매입 = 70
매출원가 = 60
기말재고 = 40
print(기초재고 + 당기매입 == 매출원가 + 기말재고)

True

In [0]:
#9.Pandas 라이브러리
#자료형 Series 1차원, DataFrame 2차원
#Series 특징
#리스트를 가지고 생성할 수 있는데 기본적으로는 리스트처럼 정수 인덱스를 이용행서 순서대로 저장한다.
#values 속성을 호출하면 데이터의 배열이 리턴된다.
#index 속성을 호출하면 인덱스의 배열이 리턴된다.
#각각의 데이터는 [인덱스]를 이용해서 접근이 가능하다.
#index 파라미터를 이용해서 파라미터를 직접 대입이 가능하다.

import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [0]:
금액 = Series([4000, 3000, 3500, 2000])
print(금액)

0    4000
1    3000
2    3500
3    2000
dtype: int64

In [0]:
print(금액.index)

RangeIndex(start=0, stop=4, step=1)

In [0]:
print(금액.values)

[4000 3000 3500 2000]

In [0]:
계정금액 = Series([4000, 3000, 3500, 2000], index=['현금','매출채권','토지','건물'])
print(계정금액)

현금      4000
매출채권    3000
토지      3500
건물      2000
dtype: int64

In [0]:
 print(계정금액[0]) #순번을 이용해서 데이터 접근

4000

In [0]:
 print(계정금액['현금']) #직접 입력한 인덱스를 이용해서 데이터 접근

4000

In [0]:
#2)Series 연산
금액 = Series([4000, 3000, 3500, 2000], index=['현금','현금','매출채권','토지'])
print(금액)

현금      4000
현금      3000
매출채권    3500
토지      2000
dtype: int64

In [0]:
print(금액[금액>3000])

현금      4000
매출채권    3500
dtype: int64

In [0]:
print(금액+100)

현금      4100
현금      3100
매출채권    3600
토지      2100
dtype: int64

In [0]:
print(np.sum(금액)) #print(금액.sum())도 동일한 결과를 나타낸다.

12500

In [0]:
#3)Series의 연산 : null, boolean 등이 있는 경우 
#Series간 인덱스가 동일한 데이터끼리 연산한다. 한쪽에만 존재하거나 None 데이터와의 연산은 NaN으로 나온다.
#pd.isnull(Series객체) 또는 Series객체.isnull(): 데이터가 없는 경우는 True를 리턴하며, 
#데이터가 있는 경우는 False로 value를 생성해서 Series 객체로 리턴한다.

금액1 = Series([4000, 3000, None, 2000], index=['현금','매출채권','미수금','토지'])
금액2 = Series([3000, 3000, 3500, 2000], index=['현금','미수수익','매출채권','토지'])
print(금액1)
print(금액2)

현금      4000.0
매출채권    3000.0
미수금        NaN
토지      2000.0
dtype: float64
현금      3000
미수수익    3000
매출채권    3500
토지      2000
dtype: int64

In [0]:
print(금액1.isnull())

현금      False
매출채권    False
미수금      True
토지      False
dtype: bool

In [0]:
print(금액1+금액2)

매출채권    6500.0
미수금        NaN
미수수익       NaN
토지      4000.0
현금      7000.0
dtype: float64

In [0]:
#(2) DataFrame
# 1) DataFrame의 기본 기능
# DataFrame은 딕셔너리 배열과 유사하며, 딕셔너리를 이용해서 생성할 수 있다.
# 각 key에 리스트가 할당된 딕셔너리를 변환할 수 있다.
# 정렬순서를 변경하고자 하면 columns 매개변수에 순서를 리스트로 대입하면 된다.
# DataFrame의 각 column의 데이터는 ['컬럼명'] 또는 컬럼명으로 접근하면 Series 객체로 리턴된다.
# 특정 행(row)에 접근하기 위해서는 ix[인덱스]를 이용하면 되고, 데이터는 Series 객체로 리턴된다.
# 사용가능한 입력 데이터 : 2차원 ndarray/ 리스트,튜플,딕셔너리,Series의 딕셔너리/딕셔너리,Series의 list/리스트,튜플의 리스트

import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [0]:
items = {'code':[1,2,3,4],
         '재무제표':['재무상태표','손익계산서','현금흐름표','자본변동표'],
         '계정과목':['매출채권','매출원가','현금','자본'],
         '금액':[1500, 15000, 1000, 500]}
data = DataFrame(items)         
print(data)

   code   재무제표  계정과목     금액
0     1  재무상태표  매출채권   1500
1     2  손익계산서  매출원가  15000
2     3  현금흐름표    현금   1000
3     4  자본변동표    자본    500

In [0]:
print(data['재무제표']) #재무제표 컬럼의 모든 값을 출력하기

0    재무상태표
1    손익계산서
2    현금흐름표
3    자본변동표
Name: 재무제표, dtype: object

In [0]:
print(data.loc[0]) #0번째 데이터를 가져오기

code        1
재무제표    재무상태표
계정과목     매출채권
금액       1500
Name: 0, dtype: object

In [0]:
print(data['계정과목'].loc[0]) #계정과목 컬럼의 0번째 데이터를 가져오기

매출채권

#10. 재고자산 단위원가결정방법 : 선입선출법

In [0]:
#(1)출고단가와 출고금액이 모두 입력되어 있는 경우
import numpy as np
import pandas as pd

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
df = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/inventory.csv',encoding='ms949')
df.head()

#encoding='ms949를 반드시 입력하여야 한다.
print(df)

           일자    적요  입고수량   입고단가    입고금액  출고수량   출고단가    출고금액
0  2017-03-01  전월이월     5  20000  100000     0      0       0
1  2017-03-09    매입    15  18000  270000     0      0       0
2  2017-03-16    매출     0      0       0     5  20000  100000
3  2017-03-16    매출     0      0       0     5  18000   90000
4  2017-03-24    매입    20  22000  440000     0      0       0
5  2017-03-29    매출     0      0       0    10  18000  180000
6  2017-03-29    매출     0      0       0     2  22000   44000

In [0]:
#판다스에서 출력결과를 표형태로 보여주기 위해서는 style함수를 뒤에 붙이면 된다.
df.style

In [0]:
입고금액_합계 = df["입고금액"].sum()
출고금액_합계 = df["출고금액"].sum()
기말재고액 = 입고금액_합계 - 출고금액_합계
매출원가 = 입고금액_합계 - 기말재고액
print("매출원가: ", 매출원가)
print("기말재고액: ", 기말재고액)

매출원가:  414000
기말재고액:  396000

In [0]:
	
df = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/inventory1.csv', encoding='ms949')

print(df)

df.style

           일자    적요  입고수량   입고단가    입고금액  출고수량
0  2017-03-01  전월이월     5  20000  100000     0
1  2017-03-09    매입    15  18000  270000     0
2  2017-03-16    매출     0      0       0     5
3  2017-03-16    매출     0      0       0     5
4  2017-03-24    매입    20  22000  440000     0
5  2017-03-29    매출     0      0       0    10
6  2017-03-29    매출     0      0       0     2

In [0]:
	
출고수량합계 = df['출고수량'].sum()

df['입고수량누적'] = df['입고수량'].cumsum()

print(df)

df.style

           일자    적요  입고수량   입고단가    입고금액  출고수량  입고수량누적
0  2017-03-01  전월이월     5  20000  100000     0       5
1  2017-03-09    매입    15  18000  270000     0      20
2  2017-03-16    매출     0      0       0     5      20
3  2017-03-16    매출     0      0       0     5      20
4  2017-03-24    매입    20  22000  440000     0      40
5  2017-03-29    매출     0      0       0    10      40
6  2017-03-29    매출     0      0       0     2      40

In [0]:
df['출고순서누적'] = df['입고수량누적'].apply(lambda x:출고수량합계 if x >= 출고수량합계 else x)
print(df)
df.style

           일자    적요  입고수량   입고단가    입고금액  출고수량  입고수량누적  출고순서누적
0  2017-03-01  전월이월     5  20000  100000     0       5       5
1  2017-03-09    매입    15  18000  270000     0      20      20
2  2017-03-16    매출     0      0       0     5      20      20
3  2017-03-16    매출     0      0       0     5      20      20
4  2017-03-24    매입    20  22000  440000     0      40      22
5  2017-03-29    매출     0      0       0    10      40      22
6  2017-03-29    매출     0      0       0     2      40      22

In [0]:
df['출고순서누적'] = df['입고수량누적'].apply(lambda x:출고수량합계 if x >= 출고수량합계 else x)
# 만약 x가 출고수량합계(22)보다 크거나 같으면 출고수량합계이며 그렇지 않으면 x인 람다함수를 '입고수량누적' 칼럼에 적용한 것을 '출고순서누적' 칼럼으로 추가 생성한다.
print(df)
df.style

           일자    적요  입고수량   입고단가    입고금액  출고수량  입고수량누적  출고순서누적
0  2017-03-01  전월이월     5  20000  100000     0       5       5
1  2017-03-09    매입    15  18000  270000     0      20      20
2  2017-03-16    매출     0      0       0     5      20      20
3  2017-03-16    매출     0      0       0     5      20      20
4  2017-03-24    매입    20  22000  440000     0      40      22
5  2017-03-29    매출     0      0       0    10      40      22
6  2017-03-29    매출     0      0       0     2      40      22

In [0]:
df['출고순서_shift'] = df['출고순서누적'].shift(1).fillna(0)
# '출고순서누적' 칼럼의 값을 한행씩 아래로 이동(shift(1))하고 첫 번째 행이 아래로 내려오면서 발생하는 NaN 값을 0으로 처리하기 위해서 fillna(0)으로 처리한다.
print(df)
df.style

           일자    적요  입고수량   입고단가    입고금액  출고수량  입고수량누적  출고순서누적  출고순서_shift
0  2017-03-01  전월이월     5  20000  100000     0       5       5         0.0
1  2017-03-09    매입    15  18000  270000     0      20      20         5.0
2  2017-03-16    매출     0      0       0     5      20      20        20.0
3  2017-03-16    매출     0      0       0     5      20      20        20.0
4  2017-03-24    매입    20  22000  440000     0      40      22        20.0
5  2017-03-29    매출     0      0       0    10      40      22        22.0
6  2017-03-29    매출     0      0       0     2      40      22        22.0

In [0]:
df['출고순서_개별'] = df['출고순서누적'] - df['출고순서_shift']
# '출고순서_개별' 칼럼은 '출고순서누적' 값과 '출고순서_shift' 값을 한행씩 차감하여 생긴 칼럼이다.
print(df)
df.style

           일자    적요  입고수량   입고단가  ...  입고수량누적  출고순서누적  출고순서_shift  출고순서_개별
0  2017-03-01  전월이월     5  20000  ...       5       5         0.0      5.0
1  2017-03-09    매입    15  18000  ...      20      20         5.0     15.0
2  2017-03-16    매출     0      0  ...      20      20        20.0      0.0
3  2017-03-16    매출     0      0  ...      20      20        20.0      0.0
4  2017-03-24    매입    20  22000  ...      40      22        20.0      2.0
5  2017-03-29    매출     0      0  ...      40      22        22.0      0.0
6  2017-03-29    매출     0      0  ...      40      22        22.0      0.0

[7 rows x 10 columns]

In [0]:
df['출고금액'] = df['출고순서_개별']*df['입고단가']
매출원가 = df['출고금액'].sum()
기말재고액 = df['입고금액'].sum() - 매출원가
print(매출원가)
print(기말재고액)
df.style

414000.0
396000.0

#10 : 재고자산 단위원가결정방법 - 총평균법

In [0]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [0]:
pd.options.display.float_format = '{:,.0f}'.format
#출력시 일괄적으로 천단위 콤마를 넣도록 하는 코딩임

In [0]:
df = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/inventory1.csv', encoding='ms949')
#encoding='ms949'를 반드시 입력하여야 한다.
print(df)
df.style

           일자    적요  입고수량   입고단가    입고금액  출고수량
0  2017-03-01  전월이월     5  20000  100000     0
1  2017-03-09    매입    15  18000  270000     0
2  2017-03-16    매출     0      0       0     5
3  2017-03-16    매출     0      0       0     5
4  2017-03-24    매입    20  22000  440000     0
5  2017-03-29    매출     0      0       0    10
6  2017-03-29    매출     0      0       0     2

In [0]:
입고수량합계 = df['입고수량'].sum()
출고수량합계 = df['출고수량'].sum()
잔고수량 = 입고수량합계 - 출고수량합계
입고금액합계 = df['입고금액'].sum()
총평균단가 = 입고금액합계/입고수량합계
기말재고자산 = 잔고수량*총평균단가
기말재고자산 = float(기말재고자산)

print("기말재고자산: ","{:,}".format(기말재고자산))
print("매출원가: ", "{:,}".format(매출원가))

기말재고자산:  364,500.0
매출원가:  414,000.0

#11 : 재고자산 단위원가결정방법 - 이동평균법

In [0]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [0]:
df = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/inventory1.csv', encoding='ms949')

In [0]:
출고수량합계 = df['출고수량'].sum()

In [0]:
df['입고수량누적'] = df['입고수량'].cumsum()
df['출고수량누적'] = df['출고수량'].cumsum()
df['잔고수량누적'] = df['입고수량누적'] - df['출고수량누적']
df['잔고수량누적shift'] = df['잔고수량누적'].shift(1).fillna(0)

In [0]:
price =0

def 이동평균단가(df):
    global price
    if df['입고수량'] == df['잔고수량누적']:
        price = df['입고단가']
        return price

    elif df['입고수량'] > 0:
        price = (df['잔고수량누적shift']*price + df['입고수량']*df['입고단가'])/df['잔고수량누적']
        return price

    else:
        return price

In [0]:
df['이동평균단가'] = df.apply(이동평균단가, axis=1)

In [0]:
df['출고순서누적'] = df['입고수량누적'].apply(lambda x:출고수량합계 if x >= 출고수량합계 else x)
print(df)
df.style

           일자    적요  입고수량   입고단가  ...  잔고수량누적  잔고수량누적shift  이동평균단가  출고순서누적
0  2017-03-01  전월이월     5  20000  ...       5            0  20,000       5
1  2017-03-09    매입    15  18000  ...      20            5  18,500      20
2  2017-03-16    매출     0      0  ...      15           20  18,500      20
3  2017-03-16    매출     0      0  ...      10           15  18,500      20
4  2017-03-24    매입    20  22000  ...      30           10  20,833      22
5  2017-03-29    매출     0      0  ...      20           30  20,833      22
6  2017-03-29    매출     0      0  ...      18           20  20,833      22

[7 rows x 12 columns]

In [0]:
df['출고순서_shift'] = df['출고순서누적'].shift(1).fillna(0)
print(df)
df.style

           일자    적요  입고수량   입고단가  ...  잔고수량누적shift  이동평균단가  출고순서누적  출고순서_shift
0  2017-03-01  전월이월     5  20000  ...            0  20,000       5           0
1  2017-03-09    매입    15  18000  ...            5  18,500      20           5
2  2017-03-16    매출     0      0  ...           20  18,500      20          20
3  2017-03-16    매출     0      0  ...           15  18,500      20          20
4  2017-03-24    매입    20  22000  ...           10  20,833      22          20
5  2017-03-29    매출     0      0  ...           30  20,833      22          22
6  2017-03-29    매출     0      0  ...           20  20,833      22          22

[7 rows x 13 columns]

In [0]:
df['출고순서_개별'] = df['출고순서누적'] - df['출고순서_shift']
print(df)
df.style

           일자    적요  입고수량   입고단가  ...  이동평균단가  출고순서누적  출고순서_shift  출고순서_개별
0  2017-03-01  전월이월     5  20000  ...  20,000       5           0        5
1  2017-03-09    매입    15  18000  ...  18,500      20           5       15
2  2017-03-16    매출     0      0  ...  18,500      20          20        0
3  2017-03-16    매출     0      0  ...  18,500      20          20        0
4  2017-03-24    매입    20  22000  ...  20,833      22          20        2
5  2017-03-29    매출     0      0  ...  20,833      22          22        0
6  2017-03-29    매출     0      0  ...  20,833      22          22        0

[7 rows x 14 columns]

In [0]:
df['출고금액'] = df['출고순서_개별']*df['입고단가']
print(df)
df.style

           일자    적요  입고수량   입고단가  ...  출고순서누적  출고순서_shift  출고순서_개별    출고금액
0  2017-03-01  전월이월     5  20000  ...       5           0        5 100,000
1  2017-03-09    매입    15  18000  ...      20           5       15 270,000
2  2017-03-16    매출     0      0  ...      20          20        0       0
3  2017-03-16    매출     0      0  ...      20          20        0       0
4  2017-03-24    매입    20  22000  ...      22          20        2  44,000
5  2017-03-29    매출     0      0  ...      22          22        0       0
6  2017-03-29    매출     0      0  ...      22          22        0       0

[7 rows x 15 columns]

In [0]:
매출원가 = df['출고금액'].sum()
기말재고액 = df['입고금액'].sum() - 매출원가

print(매출원가)
print(기말재고액)

414000.0
396000.0

#12 : 매출채권의 집합적 대손 검토

In [0]:
대손율 = (0,0.04,0.1,0.25)

In [0]:
연체기간_매출채권잔액 = list()
연체기간_매출채권잔액.append((0,75000))
연체기간_매출채권잔액.append((1,10000))
연체기간_매출채권잔액.append((2,5000))
연체기간_매출채권잔액.append((3,500))

print(연체기간_매출채권잔액)

[(0, 75000), (1, 10000), (2, 5000), (3, 500)]

In [0]:
	
def 대손충당금(X):
    기간구분,채권잔액 = X
    결과 = 채권잔액 * 대손율[기간구분]
    return 결과

In [0]:
sum(map(대손충당금, 연체기간_매출채권잔액))

1025.0

#13 : 유형자산 원가에 포함되는 항목

In [0]:
class 취득원가:

    def __init__(self):
        self.rule = set()
        self.rule.add("구입원가")
        self.rule.add("운임")
        self.rule.add("수입관세")
        self.rule.add("설치비용")
        self.rule.add("복구비용")
        self.costSum = 0

    def pay(self,항목,비용):
        if 항목 in self.rule:
            self.costSum = self.costSum + 비용

In [0]:
기계취득원가 = 취득원가()
기계취득원가.pay("설치비용",1000)
기계취득원가.pay("복구비용",3000)
기계취득원가.pay("유지비용",1500)

In [0]:
기계취득원가.costSum
print(기계취득원가.costSum)

4000

#14 : 재평가잉여금

In [0]:
def 재평가잉여금처리():
    장부금액 = int(input("장부금액: "))
    재평가금액 = int(input("재평가금액: "))
    직전재평가잉여금 = int(input("직전재평가잉여금: "))
    손실인식재평가감소액 = int(input("손실인식재평가감소액: "))

    if 직전재평가잉여금 and 손실인식재평가감소액 !=0 :
        print("직전재평가잉여금과 손실인식재평가감소액은 동시에 존재할 수 없습니다.")

    elif 재평가금액 > 장부금액:
        자산증가액 = 재평가금액 - 장부금액
        재평가잉여금증가액 = (재평가금액 - 장부금액) - 손실인식재평가감소액

        if 재평가잉여금증가액 >= 0 :
            print("차변 : 기계장치 %d" % 자산증가액)
            print("대변 : 재평가잉여금(기타포괄손익) %d" %재평가잉여금증가액)
            print("대변 : 재평가이익(당기손익) %d" %손실인식재평가감소액)

        else:
            print("차변 : 기계장치 %d" % 자산증가액)
            print("대변 : 재평가이익(당기손익) %d" %(재평가금액 - 장부금액))

    elif 재평가금액 < 장부금액:
        자산감소액 = 장부금액 - 재평가금액
        재평가잉여금감소액 = abs(장부금액 - 재평가금액) - 직전재평가잉여금

        if 재평가잉여금감소액 >= 0 :
            print("차변 : 재평가잉여금(기타포괄손익) %d" %직전재평가잉여금)
            print("차변 : 재평가손실(당기손익) %d" %재평가잉여금감소액)
            print("대변 : 기계장치 %d" % 자산감소액)

        else :
            print("차변 : 재평가잉여금(기타포괄손익) %d" %(재평가잉여금감소액 + 직전재평가잉여금))
            print("대변 : 기계장치 %d" % 자산감소액)

    else :
        print("분개 없음")

재평가잉여금처리()

장부금액: 80000
재평가금액: 88000
직전재평가잉여금: 0
손실인식재평가감소액: 5000
차변 : 기계장치 8000
대변 : 재평가잉여금(기타포괄손익) 3000
대변 : 재평가이익(당기손익) 5000

# 15 : 감가상각

In [0]:
# 정액법
print('%12s'%"년도", '%6s'%"감가상각비",'%6s'% "기말장부금액")
print("*"*50)

def 정액법(원가, 잔존가치, 내용연수):
    for i in range(1,내용연수+1):
        감가상각비 = (원가-잔존가치)/내용연수
        감가상각누계액 = 감가상각비*i
        기말장부금액 = 원가 - 감가상각누계액
        print ('%12.0f'%i,'%12.0f'%감가상각비, '%12.0f'%기말장부금액)

print(정액법(5000, 1000,5))
print("*"*50)

          년도  감가상각비 기말장부금액
**************************************************
           1          800         4200
           2          800         3400
           3          800         2600
           4          800         1800
           5          800         1000
None
**************************************************

In [0]:
# 정률법
print('%12s'%"년도", '%6s'%"감가상각비",'%6s'% "기말장부금액")
print("-"*50)

def 정률법(원가, 잔존가치, 내용연수):
    상각률 = 1 - ((잔존가치/원가)**(1/내용연수))
    for i in range(1, 내용연수+1):
        감가상각비 = 원가 * 상각률
        원가 = 원가 - 감가상각비
        print ('%12.0f'%i,'%12.0f'%감가상각비, '%12.0f'%원가)

print(정률법(5000,1000,5))
print("-"*50)

          년도  감가상각비 기말장부금액
--------------------------------------------------
           1         1376         3624
           2          997         2627
           3          723         1904
           4          524         1380
           5          380         1000
None
--------------------------------------------------

In [0]:
# 연수합계법
print('%12s'%"년도", '%6s'%"감가상각비",'%6s'% "기말장부금액")
print("+"*50)

def 연수합계법(원가,잔존가치, 내용연수):
    상각대상액 = 원가 - 잔존가치
    for year in range(1,내용연수+1):
        감가상각비 = 상각대상액 *(내용연수-(year-1))/(내용연수*(내용연수+1)/2) 
        원가=원가–감가상각비 
        print ('%12.0f'%year,'%12.0f'%감가상각비, '%12.0f'%원가)

print(연수합계법(5000,1000,5))
print("+"*50)

SyntaxError: ignored

#16 : 사채할인발행

In [0]:
class 사채:

    def __init__(self, 액면가액, 표시이자율, 시장이자율, 만기):
        self.액면가액 = 액면가액
        self.표시이자율 = 표시이자율
        self.시장이자율 = 시장이자율
        self.만기 = 만기

    def 현가계수_발행가액(self):
        연금현가계수 = 0
        for i in range(1,self.만기+1):
            년도현가계수 = (1/(1+self.시장이자율))**i
            연금현가계수 = 연금현가계수 + 년도현가계수 
            print ('%12.0f'%i,'%12.4f'%년도현가계수, '%12.4f'%연금현가계수)

        원금현가 = self.액면가액*(1/(1+self.시장이자율))**self.만기
        이자현가 = self.액면가액*self.표시이자율*연금현가계수
        발행가액 = 원금현가 + 이자현가

        print("*"*100)
        print('%12s' %"년도",
                '%7s' %"유효이자",
                '%7s'% "액면이자",
                '%7s'% "발행차금상각",
                '%7s'% "기말장부금액")

        장부금액 = 발행가액

        for i in range(1,self.만기+1):
            유효이자 = 장부금액 * self.시장이자율
            액면이자 = self.액면가액 * self.표시이자율
            발행차금상각 = 유효이자 - 액면이자
            장부금액 = 장부금액 + 발행차금상각

            print ('%12.0f' % i,
                '%12.0f' % 유효이자,
                '%12.0f' % 액면이자,
                '%12.0f' % 발행차금상각,
                '%12.0f' % 장부금액 )

        장부금액 = 발행가액

        for i in range(1,self.만기+1):
            유효이자 = 장부금액 * self.시장이자율
            액면이자 = self.액면가액 * self.표시이자율
            발행차금상각 = 유효이자 - 액면이자
            장부금액 = 장부금액 + 발행차금상각

            if i == 1:
                print("*"*100)
                print("차변", "현금", '%20.0f' %발행가액)  
                print("차변", "사채할인발행차금", '%9.0f' %(self.액면가액 - 발행가액))
                print("대변", "사채", '%30.0f' %self.액면가액 )
                print("*"*100)
                print("차변", "이자비용", '%17.0f' %유효이자)
                print("대변", "현금", '%31.0f' %액면이자)
                print("대변", "사채할인발행차금",'%20.0f' %발행차금상각 )
                print("*"*100)

            else:
                print("차변", "이자비용", '%17.0f' %유효이자)
                print("대변", "현금", '%31.0f' %액면이자)
                print("대변", "사채할인발행차금",'%20.0f' %발행차금상각 )
                print("*"*100)

a = 사채(100000, 0.12, 0.10, 3)
a.현가계수_발행가액()

           1       0.9091       0.9091
           2       0.8264       1.7355
           3       0.7513       2.4869
****************************************************************************************************
          년도    유효이자    액면이자  발행차금상각  기말장부금액
           1        10497        12000        -1503       103471
           2        10347        12000        -1653       101818
           3        10182        12000        -1818       100000
****************************************************************************************************
차변 현금               104974
차변 사채할인발행차금     -4974
대변 사채                         100000
****************************************************************************************************
차변 이자비용             10497
대변 현금                           12000
대변 사채할인발행차금                -1503
****************************************************************************************************
차변 이자비용             10347
대변 현금                           12000
대변 사채할인발행차금                -1653
****************************************************************************************************
차변 이자비용             10182
대변 현금                           12000
대변 사채할인발행차금                -1818
****************************************************************************************************